<div class="ds-expander ds-expander-style-a">
    <a href="" class="ds-expander__trigger ds-expander-style-a__trigger"><i class="icon-angle-right"></i></a>
    <div class="ds-expander-style-a__content" ></div>
</div>