//Removes styles
@mixin no-style($selector){


    #{$selector}{

        &-margin{
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        &-padding{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        &-float{
            float: none !important;
        }

        &-border{
            border: none !important;
        }

    }
}


@include no-style('.no');