@function get-responsive-sizes-for($size-for-desk-in-grid-units, $flex: null){
    $all-flex-properties: ();

    $palm-scale-factor: 1;
    $lap-scale-factor: 1;
    $desk-scale-factor: 1;

    @if($flex == s){
        $palm-scale-factor: 0.9;
        $lap-scale-factor: 0.95;
        $desk-scale-factor: 1;
    } @else if($flex == m){
        $palm-scale-factor: 0.85;
        $lap-scale-factor: 0.9;
        $desk-scale-factor: 1;
    } @else if($flex == l){
        $palm-scale-factor: 0.5;
        $lap-scale-factor: 0.75;
        $desk-scale-factor: 1;
    } @else if($flex == xl){
        $palm-scale-factor: 0.25;
        $lap-scale-factor: 0.5;
        $desk-scale-factor: 1;
    } @else {
        @warn "get-responsive-sizes() function has incorrect flex value.";
        @return null;
    }

    $all-flex-properties: (
            "palm": $size-for-desk-in-grid-units * $palm-scale-factor,
            "lap-and-desk": $size-for-desk-in-grid-units * $lap-scale-factor,
            "desk": $size-for-desk-in-grid-units * $desk-scale-factor,
    );

    @return $all-flex-properties;
}

@mixin responsive-padding-top-and-bottom($size, $flex){
    $sizes: get-responsive-sizes-for($size, $flex);
    padding: map_get($sizes, "palm") 0;
    @include respond-to($lap-and-desk){
        padding: map_get($sizes, "lap-and-desk") 0;
    }
    @include respond-to($desk-only){
        padding: map_get($sizes, "desk") 0;
    }
}

@mixin direct-panel($bem-module-name){
    // Block
    #{$bem-module-name} {
        overflow: hidden;
        // Modifiers
        &#{$bem-module-name}--style-1 {
            background-color: $colour-white;
        }
        &#{$bem-module-name}--style-2 {
            background-color: $colour-greyscale-97;
            border-bottom: 1px solid $colour-greyscale-88;
            border-top: 1px solid $colour-greyscale-88;
        }
        &#{$bem-module-name}--size-m {
            @include responsive-padding-top-and-bottom($size: 8*$grid-unit, $flex: xl);
        }
        &#{$bem-module-name}--size-s {
            @include responsive-padding-top-and-bottom(3*$grid-unit, $flex: l);
        }

        // Elements
        #{$bem-module-name}__first {
            margin-top: 0;
        }
        #{$bem-module-name}__last {
            margin-bottom: 0;
        }
        // Contains the element contents within the grid
        #{$bem-module-name}__grid-width {
            @include grid-width();
        }
    }
}

@include direct-panel(".panel");