<article class="panel-inverse javascript-disabled-panel grid-width">
    <h2>@Text.Content.JavascriptDisabledHeading</h2>
    <section>
        <p>@Text.Content.JavascriptDisabledDetails <a href="http://www.enable-javascript.com">@Text.Content.JavascriptEnableLink</a>.</p>
    </section>
</article>