@mixin help-message($selector){
    $arrow-width: 1.5*$grid-unit;
    $arrow-height: 1.5*$grid-unit;

    #{$selector} {
        display: none;
        position: absolute;
        top:0;

        @include respond-to($lap-and-desk) {
            right: percentage(($three-fifths / $grid-columns) * -1);
            @include span-columns($three-fifths);
            z-index: 99;
        }
        padding: 2*$grid-unit;
        background-color: $colour-interaction-100;
        color: $colour-white;
        border-radius: $standard-curvature;
        &:before {
            @include icon-content-for-name('arrow-top');

            @include respond-to($lap-and-desk) {
                @include icon-content-for-name('arrow-left');
                color: $colour-interaction-100;
            }
			@include set-graphic-as(gamma, $type: icon);
            position: absolute;
            top: 2*$grid-unit;
            left: -1.75*$grid-unit;
            line-height: 1;
            height: $arrow-height;
            width: $arrow-width;
            background-color: transparent;

        }
    }
}
