@import "mobile-trigger";
@import "mobile-trigger-container";

@mixin primary-navigation-and-utility-navigation($selector, $options){
    #{$selector} {
        height: map_get($options, "height");
        width: 100%;
        border-top: map_get($options, "mobile-border-top");
        overflow-x: hidden; // Fix whitespace appearing on right and horizontal scroll when mobile menu is opened.
        @include respond-to(map_get($collapsed-menu-breakpoints, "collapsed-menu-breakpoint-lap-and-desk")){
            border-top: none;
            overflow-x: visible; // Take whitespace fix off where it isn't needed.
        }
        &.open {
            position: map_get($options, "open-mobile-menu-position");
            z-index: map_get($options, "z-index-when-open");
            background-color: $colour-white;
        }

        @include mobile-trigger-container('.primary-navigation-and-utility-navigation-trigger-container', $mobile-menu-trigger-options, $options);
        @include mobile-trigger('.primary-navigation-and-utility-navigation-trigger-container a', $mobile-menu-trigger-options, $options);
    }
}
