@import "cover";
@import "nested-cover";
@import "cover-details";
@import "cover-options-select";
@import "cover-options-radio";
@import "cover-options-single";

@mixin cover-group($selector){
    // TODO: try to encapsulate these in cover-group?...are covers ever used outside of cover-group? Should we allow them to be? Is it best to keep them independent?
    @include cover(".cover");
//    @include cover(".nested-cover");
    @include nested-cover(".nested-cover");
    @include cover-details(".cover-details");

    #{$selector}{
        margin-bottom: 3*$grid-unit;
        @include clearfix;
        .cover {
            margin-bottom: $grid-unit/4;
        }
        &:last-child {
            margin-bottom:0;
        }

        a{
            color: $colour-greyscale-24;
        }
    }
}
@include cover-group('.cover-group');