@mixin menu($selector) {

    $content-color: $colour-greyscale-39;
    $borders-color: $colour-greyscale-88;
    $background-color: $colour-white;
    $hover-color: $colour-greyscale-97;

    #{$selector} {
        position: relative;
        list-style-type: none;

        #{$selector}-trigger {
            // Not styled by default (allows combining with things like a button component for the trigger)
            &#{$selector}-trigger--style {
                position: relative;
                z-index: 2;
                display: table;
                width: 100%;
                @include respond-to($lap-and-desk){
                    display: inline-block;
                    width: auto;
                }
                padding: 2*$grid-unit;
                color: $content-color;
                text-decoration: none;
                text-transform: uppercase;
                span, i[class^='icon-']{
                    display: table-cell;
                    @include respond-to($lap-and-desk) {
                        display: inline-block;
                    }
                }

                i[class^='icon-']:before {
                    color: $content-color;
                }
                border: 1px solid $borders-color;
                background-color: $background-color;
                &:hover, &:active {
                    background-color: $hover-color;
                    @include transition($standard-transition-animation);
                }
            }
        }

        &.ds-open #{$selector}-trigger {
            i[class^='icon-']:before {
                @include get-icon-content-only("caret-up");
            }
            &#{$selector}-trigger--style {
                border-bottom: none;
                i[class^='icon-']:before {
                    color: $content-color;
                }
            }
        }

        #{$selector}-items {
            position: relative;
            z-index: 1;
            width: 100%;
            @include respond-to($lap-and-desk){
                position: absolute;
                z-index: 1000;
                width: auto;
                min-width: 100%;
            }
            margin:0;
            padding: 0;
            border: 1px solid $borders-color;
            background-color: $background-color;
            &.ds-closed {
                display: none;
            }

            #{$selector}-item {
                display: block;
                width: 100%;
                margin: 0;
                list-style-type: none;
                border-bottom: 1px solid $borders-color;
                white-space: nowrap;
                & > a, & > form > button {
                    display: block;
                    padding: 2*$grid-unit;
                    text-decoration: none;
                    color: $content-color;
                    i[class^='icon-']:before {
                        color: $content-color;
                    }
                    &:hover, &:focus, &:active {
                        background-color: $hover-color;
                    }
                }
                // Allow POST as well as GET in menus
                > form > button {
                    width: 100%;
                    border: none;
                    background: transparent;
                }
            }
        }
    }

    // Prevents FOUC whilst keeping menu open for none-JS browsers.
    .js #{$selector} .ds-menu-items {
        display: none;
        &.ds-open {
            display: block;
        }
    }
    .no-js #{$selector} .ds-menu-items {
        display: block;
    }
}

@include menu('.ds-menu');