@mixin single-action($selector){
    #{$selector} {
        clear: both;
        width: 100%;
        margin-bottom: $grid-unit;
        margin-top: $grid-unit*3;
        @include clearfix;

        a, button{
            float: right;
        }
    }
}

@include single-action('.single-action');