@{ ViewBag.Title = "Sorry, we can’t find that page";}
<span id="not-found-error"></span>

<h1>@ViewBag.Title</h1>

<p>We can’t find the page you where looking for. <strong>Bad link? Mistyped address?</strong> We’re not sure.</p>

<h2>What can you do?</h2>

<p>Check the Web address you entered to make sure if it's correct.</p>
<p>Try to access the page directly from the <a href="/">home page</a> instead of using a bookmark.</p>
<p>If the page has moved, reset your bookmark.</p>
<p>Use your browser’s back button to return to the previous page and select another link.</p>
<p>If you continue to have problems please call us on <strong>+1 416 601 3138</strong> or email to <a href="mailto:brokersupport@markelinternational.com">brokersupport@markelinternational.com</a></p>
