@{ ViewBag.Title = "Page introuvable";}
<span id="not-found-error"></span>

<h1>@ViewBag.Title</h1>

<p>Nous ne pouvons pas trouver la page que vous cherchiez. <strong>Bad lien? Adresse erronée?</strong> Nous ne sommes pas sûrs.</p>

<h2>Que pouvez-vous faire?</h2>

<p>Vérifier l'adresse Web que vous avez entré pour s'assurer si c'est correct.</p>
<p>Essayez d'accéder à la page directement depuis <a href="/">la page d'accueil</a> au lieu d'utiliser un signet.</p>
<p>Si la page a été déplacée, réinitialiser votre signet.</p>
<p>Utilisez le bouton retour de votre navigateur pour revenir à la page précédente et sélectionnez un autre lien.</p>
<p>Si vous continuez à avoir des problèmes s'il vous plaît appelez-nous au <strong>+1 416 601 3138</strong> ou par courriel à <a href="mailto:brokersupport@markelinternational.com">brokersupport@markelinternational.com</a></p>