@{
    ViewBag.Title = "Oops!";
}

<h1>@ViewBag.Title</h1>

<p>Nous sommes désolés, mais nous sommes heurtés à un problème en essayant d'afficher la page de votre demande. Nous avons été informés du problème et prendre un coup d'oeil sous peu.</p>
<p>En attendant, vous pouvez utiliser le bouton retour de votre navigateur pour revenir à la page précédente et essayez à nouveau.</p>
<p>Si vous continuez à avoir des problèmes s'il vous plaît appelez-nous au <strong>+1 416 601 3138</strong> ou par courriel à <a href="mailto:brokersupport@markelinternational.com">brokersupport@markelinternational.com</a></p>