html {
    font-size: 100%;
}

body {
    font-family: $standard-fonts;
    @-moz-document url-prefix() {
        & {
            font-family: $standard-fonts;
        }
    };
    color: $colour-greyscale-24;
    @include set-text-as(body);
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 { display: inline-block; @include set-text-as(alpha); width: 100%;}
h2 { @include set-text-as(beta); }
h3 { @include set-text-as(gamma); }
h4 { @include set-text-as(delta); }
h5 { @include set-text-as(delta); }
h6 { @include set-text-as(delta); }
p { @include set-text-as(body); }