@mixin editorial-page($selector){

    #{$selector}{
        .panel--style-2 {
            border-top: 0;
        }
        
        h1 {
            margin: 3*$grid-unit 0;
        }

        .ds-expander-style-b {
            border-top: none;
            &:last-of-type {
                border-bottom: none;
            }
            .ds-expander-style-b__trigger {
                border-top: 1px solid $colour-greyscale-88;
            }
        }
    }
}

@include editorial-page('.editorial-page');