@mixin dashboard($selector){
    #{$selector}{
        .option {
            input, select {
                width: 100%;
            }
        }
        button[type="submit"] {
            margin-top: 0;
        }
        
        .split-actions {
            .last-action {
                margin: $grid-unit 0;
            }
        }
    }
}

@include dashboard(".add-a-broker-screen");
