.l-quote-page{

    background-color: #fff;

     @include respond-to($lap-and-desk){

         background-color: #F7F7F7;

     }

}

.content-img {

    padding-bottom: $grid-unit*3;

    @include respond-to($lap-and-desk) {
        background: url('../../Content/images/direct-qj-bg-2.jpg') 0 0 no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-bottom: $grid-unit*10;

    }
}