@mixin question-message($selector, $background-colour){
    #{$selector} {
		.question-main {
            padding: 0;
            border-left: none;
        }
        .message-content {
			[class^='icon-'] {
				float: left;
				margin-right: $grid-unit;
				@include set-graphic-as(gamma, $type: icon);
				color: $error-colour-100;
			}
			.message-text {
				overflow: hidden;
			}
			@include fill-parent;
            background: $background-colour;
            padding: 3*$grid-unit;
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

@include question-message(".question.question-message", $colour-greyscale-97);
@include question-message(".question.question-warning-message", $error-colour-10);