@mixin call-to-action-side-block($selector) {
    #{$selector} {
		a.button-style-primary {
			color: $colour-white;

			&:hover, &:focus, &:active {
				color: $colour-white;
			}

			margin-bottom: $grid-unit;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
    }
}
 
@include call-to-action-side-block(".call-to-action-side-block");