<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <article class="panel-inverse unsupported-browser-message grid-width">
        <h1>Your Internet Explorer version is not supported</h1>
        <section>
            <h2>Why am I seeing this message?</h2>
            <p>We support most browsers but yours is now more than 5 years old and we don't support it. We recommend using <a href="http://whatbrowser.org/">a faster and more secure browser</a>.</p>
        </section>
        <section class="panel-gamma" style="background-color:#f7f7f7">
            <h2 style="display: inline; margin-top:12px">How can I upgrade?</h2>
            <a class="button-style-primary button--size-jumbo" href="http://whatbrowser.org/" style="float:right;">Upgrade your browser</a>
            <p style="display: block; margin-bottom: 0">For a faster, more secure internet follow these <a href="http://whatbrowser.org/">quick upgrade steps</a>.</p>
        </section>
        <section>
            <h2>I can't upgrade</h2>
            <p>Speak to your IT team about upgrading. A faster more secure internet experience could benefit your whole organisation.</p>
            <p>If your organisation still requires Internet Explorer 8 or earlier to support certain applications you can still get the benefits of upgrading. Ask your IT team to consider managing their policy using <a href="https://www.google.com/intl/en/chrome/business/browser/lbs.html">chrome with legacy browser support</a>.</p>
        </section>
        <section>
            <h2>Got a smartphone or tablet?</h2>
            <p>We support all major smartphones and tablets so you can get quotes and bind on the go, or whilst your IT team upgrades your browser.</p>
        </section>
    </article>
<![endif]-->