---
layout: default
title: Jobs 
hero: Job Listing
---
{% assign year = '1900' -%}
<ul class="archive">
  {% assign event_posts = (site.posts | where:"layout", "job") %}
  {% for post in event_posts %}
  {% capture current_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if current_year != year %}
  <h3>{{ current_year }}</h3>
  {% assign year = current_year %}
  {% endif %}
  <li><span>{{ post.date | date: "%b, %d" }}</span> - <a href="{{post.url}}">{{post.title}}</a>
  {% endfor %}
</ul>
