---
layout: default
title: Archive
hero: Blog Archive
---
{% assign year = '1900' -%}
<ul class="archive">
  {% assign blog_posts = (site.posts | where:"layout", "post") %}
  {% for post in blog_posts %}
  {% capture current_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if current_year != year %}
  <h3>{{ current_year }}</h3>
  {% assign year = current_year %}
  {% endif %}
  <li><span>{{ post.date | date: "%b, %d" }}</span> - <a href="{{post.url}}">{{post.title}}</a>
  {% endfor %}
</ul>
