@mixin notification-success($selector){
    #{$selector}{
        border: 1px solid $success-colour-100;
        background-color: $success-colour-10;
        i {
            color: $success-colour-100;
        }
    }
}