<article class="panel-inverse cookies-disabled-panel grid-width">
    <h2>@Text.Content.CookiesDisabledHeading</h2>
    <section>
        <p>@Text.Content.CookiesDisabledDetails</p>
    </section>
</article>

