//Mixin modified from Bootstrap

@mixin tooltip($selector, $popoverBtn) {

    #{$selector} {
        $popover-bg: rgba(0,0,0, 0.8);
        $popover-color: #fff;
        $popover-arrow-width: $grid-unit;
        $popover-arrow-outer-width: $grid-unit;
        $popover-arrow-color: $popover-bg;
        $popover-arrow-outer-color: none;
        $popover-margin-offset: 1.5*$grid-unit;
        padding: 2*$grid-unit 2.5*$grid-unit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
        width: 100%;
        @include respond-to($lap-and-desk) {
            max-width: 278px;
        }
        background-color: $popover-bg;
        background-clip: padding-box;
        border-radius: $standard-curvature;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        // Offset the popover to account for the popover arrow
        &.top     { margin-top: -$popover-margin-offset; }
        &.right   { margin-left: $popover-margin-offset; }
        &.bottom  { margin-top: $popover-margin-offset; }
        &.left    { margin-left: -$popover-margin-offset; }

        .popover-title{
            color: $popover-color;
            @include set-text-as(body, $margins-overrides: zero-top, $strength: strong);
            padding-bottom: $grid-unit;
            display: table-cell;
            padding-right: 1.5*$grid-unit;

        }

        .popover-content {
            color: $popover-color;
            @include set-text-as(delta, $reduced: true, $margins-overrides: zero-both);
        }

        // Arrows
        //
        // .arrow is outer, .arrow:after is inner

         > .arrow {
            &,
            &:after {
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
            }
        }
         > .arrow {
                     border-width: $popover-arrow-outer-width;
                 }
         > .arrow:after {
            border-width: $popover-arrow-width;
            content: "";
        }

            &.top > .arrow {
                left: 50%;
                margin-left: -$popover-arrow-outer-width;
                border-bottom-width: 0;
                border-top-color: $popover-arrow-outer-color;
                bottom: -$popover-arrow-outer-width;
                &:after {
                    content: " ";
                    bottom: 0;
                    margin-left: -$popover-arrow-width;
                    border-bottom-width: 0;
                    border-top-color: $popover-arrow-color;
                }
            }
            &.right > .arrow {
                top: 50%;
                left: -$popover-arrow-outer-width;
                margin-top: -$popover-arrow-outer-width;
                border-left-width: 0;
                border-right-color: $popover-arrow-outer-color;
                &:after {
                    content: " ";
                    left: 0;
                    bottom: -$popover-arrow-width;
                    border-left-width: 0;
                    border-right-color: $popover-arrow-color;
                }
            }
            &.bottom > .arrow {
                left: 50%;
                margin-left: -$popover-arrow-outer-width;
                border-top-width: 0;
                border-bottom-color: $popover-arrow-outer-color;
                top: -$popover-arrow-outer-width;
                &:after {
                    content: " ";
                    top: 0;
                    margin-left: -$popover-arrow-width;
                    border-top-width: 0;
                    border-bottom-color: $popover-arrow-color;
                }
            }

            &.left > .arrow {
                top: 50%;
                right: -$popover-arrow-outer-width;
                margin-top: -$popover-arrow-outer-width;
                border-right-width: 0;
                border-left-color: $popover-arrow-outer-color;
                &:after {
                    content: " ";
                    right: 0;
                    border-right-width: 0;
                    border-left-color: $popover-arrow-color;
                    bottom: -$popover-arrow-width;
                }
            }


        .popover-close {

            color: #fff;
            @include set-text-as(gamma, $reduced: true, $responsive-text: false, $margins-overrides:zero-both);
            line-height: 1;
            padding: 0;
            background: transparent;
            border: none;
            float: right;

            &:before{
                font-family: 'Iconography';
                @include get-icon-content-only("cross");
                display: inline-block;
            }

            &:hover, &:focus, &:active{

                color: darken($colour-white, 25);
                @include transition($standard-transition-animation);

            }

        }


    }


    #{$popoverBtn}{

        cursor: pointer;

        &--help{
            cursor: help;
            text-decoration: none;
            color: $colour-greyscale-24;
            border-bottom: 1px dashed $colour-greyscale-24;

            &:hover, &:active, &:focus{

              color: $colour-interaction-100;
              border-color: $colour-interaction-100;
                outline: none;


            }
        }


    }

}

@include tooltip('.popover', '.popover-btn');