<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>{{ page.title }} - Markel Digital</title>
<meta name="description" content="">
<meta name="author" content="Markel Digital">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/app.css">

<link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <article class="panel-inverse unsupported-browser-message grid-width">
        <h1>Your Internet Explorer version is not supported</h1>
        <section>
            <h2>Why am I seeing this message?</h2>
            <p>We support most browsers but yours is now more than 5 years old and we don't support it. We recommend using <a href="http://whatbrowser.org/">a faster and more secure browser</a>.</p>
        </section>
        <section class="panel-gamma" style="background-color:#f7f7f7">
            <h2 style="display: inline; margin-top:12px">How can I upgrade?</h2>
            <a class="button-style-primary button--size-jumbo" href="http://whatbrowser.org/" style="float:right;">Upgrade your browser</a>
            <p style="display: block; margin-bottom: 0">For a faster, more secure internet follow these <a href="http://whatbrowser.org/">quick upgrade steps</a>.</p>
        </section>
        <section>
            <h2>I can't upgrade</h2>
            <p>Speak to your IT team about upgrading. A faster more secure internet experience could benefit your whole organisation.</p>
            <p>If your organisation still requires Internet Explorer 8 or earlier to support certain applications you can still get the benefits of upgrading. Ask your IT team to consider managing their policy using <a href="https://www.google.com/intl/en/chrome/business/browser/lbs.html">chrome with legacy browser support</a>.</p>
        </section>
        <section>
            <h2>Got a smartphone or tablet?</h2>
            <p>We support all major smartphones and tablets so you can get quotes and bind on the go, or whilst your IT team upgrades your browser.</p>
        </section>
    </article>
<![endif]-->

<header class="global-banner">
  <div class="logo-and-primary-navigation-and-utility-navigation">
    <a class="logo" href='/'>
      <img src='/images/markel-logo-white.svg' alt="Markel" class="white-logo" />
      <!-- Black logo Image is used for print style, as there is no other way to print white image as black, and filter:invert(100%) doesn't work in IE-->
      <img src='/images/markel-logo-black.svg' alt="Markel" class="black-logo" />
    </a>
    <div class="primary-navigation-and-utility-navigation">
      <div class="primary-navigation-and-utility-navigation-trigger-container">
        <a href="">
          <span class="text-when-closed">Menu</span>
          <span class="text-when-open">Close</span>
          <i class="special-menu-icon"></i>
        </a>
      </div>


      <div class="primary-navigation-and-utility-navigation-content">
        <nav class="mobile-section-actions">
          <ul></ul>
        </nav>

        <nav class="primary-navigation">
          <ul>
            <li class="ds-menu">
            <a href="/blog/"><span>Blog</span></a>
            </li>
            <li class="ds-menu">
            <a href="/events/"><span>Events</span></a>
            </li>
            <!--
            <li>
            <a href=""><span>Design system</span></a>
            </li>
            -->
          </ul>
        </nav>

        <nav class="utility-navigation">
          <ul>
            <li class="ds-menu">
            <a href="/jobs/"><span>Jobs</span></a>
            </li>
            <li class="ds-menu account-menu">
            <a href="/about-us.html"><span>About Us</span></a>
            </li>
            <li class="ds-menu account-menu">
            <a href="/contact-us.html"><span>Contact Us</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="ds-site-section top-header neutral-section">
  <div class="ds-site-section__content">
    <h2 class="primary-signpost">{{ page.hero }}</h2>
  </div>
</section>

<main role="main">
  <div class="content">
    <div class="content-inner">
      <article class="design-system-library-screen">
        <div class="grid-width">
          <div class="l-components__main">
            {{ content }} 
          </div>

          <div class="l-components__aside">
            <h3>Events</h3>
            <ul>
            {% assign blog_posts = (site.posts | where:"layout", "event") %}
            {% for post in blog_posts %}
            <li><span>{{ post.date | date: "%b, %d" }}</span> - <a href="{{post.url}}">{{post.title}}</a>
            {% endfor %}
            </ul>

            <h3>Blog</h3>
            <ul>
            {% assign blog_posts = (site.posts | where:"layout", "post") %}
            {% for post in blog_posts %}
            <li><a href="{{post.url}}">{{post.title}}</a>
            {% endfor %}
            </ul>

            <h3>Social</h3> 
            <ul>
              <li><a href="https://twitter.com/markeldigital">@markeldigital</a></li>
              <li><a href="https://www.linkedin.com/company/markel-international">Markel International</a></li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="footer-main panel panel--size-s">
    <div class="grid-width">
      <p>&copy; <span id="dnn_dnnCOPYRIGHT_lblCopyright">Markel (UK) Limited 2016 &nbsp;| &nbsp;<a target="_blank" title="Privacy Statement" href="http://localhost:3678/privacy-statement">Privacy Statement</a>&nbsp; | &nbsp;<a target="_blank" title="Terms of Use" href="http://localhost:3678/terms-of-use">Terms of Use</a></span></p>
      <p>Markel direct is a trading name of Markel (UK) Limited which is a company registered in England and an appointed representative of Markel International Insurance Company Limited. Markel (UK) Limited only places insurance policies with Markel International Insurance Company Limited which is authorised by the&nbsp;<a target="_blank" href="http://www.bankofengland.co.uk/PRA/Pages/default.aspx">Prudential Regulation Authority</a>&nbsp;and regulated by the&nbsp;<a target="_blank" href="http://www.fca.org.uk/">Financial Conduct Authority</a>&nbsp;and Prudential Regulation Authority.</p>
    </div>
  </div>
</footer>
</body>
</html>
