@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Markel.REMUS.DesignSystem.Contracts.INavigateSomewhere>
<li>
    <a href='@Model.Url' class="button-style-primary button--size-alpha">
        <span>@Model.Name</span>
    </a>
</li>