@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Markel.REMUS.DesignSystem.Contracts.INavigateSomewhere>
<li class='ds-menu-item'>
    <a href='@Model.Url'>
        <span>@Model.Name</span>
    </a>
</li>