@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Markel.REMUS.DesignSystem.Contracts.INavigateSomewhere>

<li class='link-nav-item'>
    <form action='@Model.Url' method='post'>
        <button class='button-style-primary button--size-alpha quote bi-new-quote'>@Model.Name</button>
    </form>
</li>